{
    "openapi": "3.0.1",
    "info": {
        "title": "Issues",
        "description": "Issue Service\r\n\r\nView, create, and edit details of issues that have been raised in a CONNECT project or context, as well as their comments, attached files, and change history.  Retrieval of form definitions (which define how to display an issue in an interactive UI) is also supported, though customization of them is not (and should be done by a project administrator through the CONNECT Issues web application, if needed).",
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.bentley.com/issues/v1"
        }
    ],
    "paths": {
        "/formDefinitions/{id}": {
            "get": {
                "tags": [
                    "FormDefinitions"
                ],
                "summary": "Get form definition by ID",
                "description": "---\r\n\r\nGets the full form definition with the specified ID.\r\n\r\n### Authentication\r\n\r\nRequires *Authorization* header with valid Bearer token for scope *issues:read*.\r\n\r\n---",
                "operationId": "get-form-definition-by-id",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The ID of the form definition to get. This should be an ID retrieved from the \"Get project form definitions\" endpoint or an issue's \"formId\" property.",
                        "required": true,
                        "schema": {
                            "type": ""
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with scope 'issues:read'",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Form Definition Details Response"
                                },
                                "example": {
                                    "formDefinition": {
                                        "id": "e5Ue5Ue5U02hNz19awLcRgpmdo8phxZEhB123456789",
                                        "displayName": "Sample Form",
                                        "type": "Punchlist",
                                        "status": "Approved",
                                        "definition": "{\"Form\":{\"Width\":520,\"Height\":750,\"Controls\":[{\"Panel\":{\"ElementId\":\"f8b4b07c700247ee8e7be81ca9ef6528\",\"Name\":\"Canvas\",\"DisplayLabel\":\"Canvas\",\"Type\":\"Panel\",\"IsPercent\":false,\"Height\":0,\"MaxHeight\":0,\"Width\":0,\"Binding\":\"\",\"TopPosition\":0,\"LeftPosition\":0,\"IsReadOnly\":false,\"IsRequired\":false,\"StyleGroup\":\"\",\"IsCollapsible\":false,\"IsCollapsed\":false,\"ShowWindSpeed\":false,\"LayoutType\":1,\"ContentSpacing\":16,\"ContentPadding\":8,\"Children\":[{\"TextBox\":{\"ElementId\":\"c274e01b58ae4e94884f91238f65f582\",\"Name\":\"Textbox#7cf1d\",\"DisplayLabel\":\"\",\"Type\":\"TextBox\",\"FileId\":1,\"IsPercent\":true,\"Height\":38,\"MaxHeight\":0,\"Width\":50,\"Binding\":\"_Description\",\"TopPosition\":111,\"LeftPosition\":17,\"IsReadOnly\":false,\"IsRequired\":false,\"StyleGroup\":\"\",\"IsCollapsible\":false,\"IsCollapsed\":false,\"ShowWindSpeed\":false,\"IsSingleLine\":true}}]}}],\"StyleGroups\":[],\"DataBindings\":[{\"DataBinding\":{\"Binding\":\"_Description\",\"ElementId\":\"c274e01b58ae4e94884f91238f65f582\",\"Type\":\"string\",\"DisplayLabel\":\"Description\"}}],\"RelatedObjects\":[{\"RelatedObject\":{\"Type\":\"DynamicSchema:Punchlist\"}}],\"GpsBindingType\":\"storeAsLatLong\",\"GpsFirstBinding\":\"Latitude\",\"GpsSecondBinding\":\"Longitude\"}}"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "example": {
                                    "statusCode": 401,
                                    "message": "Unauthorized. Access token is missing or invalid."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "This response indicates that user does not have required permissions to access the resouce."
                    },
                    "404": {
                        "description": "This response indicates that the form definition with the specified ID does not exist or is inaccessible to the user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error Response"
                                },
                                "example": {
                                    "error": {
                                        "code": "FormDefNotFound",
                                        "message": "The form definition with the specified ID was not found."
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the user has sent too many requests in a given amount of time."
                    }
                }
            }
        },
        "/{id}/attachments": {
            "get": {
                "tags": [
                    "Attachments"
                ],
                "summary": "Get issue attachments",
                "description": "---\r\n\r\nRetrieves the metadata for all files attached to the given issue. In order to get the contents of a file itself, use the `Get attachment file by ID` endpoint, passing the `id` from the metadata object returned by this request as the `attachmentId` parameter of that request.\r\n\r\n### Authentication\r\n\r\nRequires *Authorization* header with valid Bearer token for scope *issues:read*.\r\n\r\n---",
                "operationId": "get-issue-attachments",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The ID of the issue to get attachments for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with scope 'issues:read'",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Attachment Metadata List"
                                },
                                "example": {
                                    "attachments": [
                                        {
                                            "id": "XZzxOCC8sVvUcgeXz1Ih_exlLgPfRTpAuShXz1cTpAu",
                                            "fileName": "CrackedConcrete.png",
                                            "createdDateTime": "2020-10-20T16:16:30.6704320+00:00",
                                            "size": "34770",
                                            "caption": "Picture of the cracked concrete",
                                            "binding": "TypeOfDefect",
                                            "type": "png"
                                        },
                                        {
                                            "id": "XZzxOCC8sVvUcgeXz1Ih_exlLgPfRTpAuShXz1cTpAu",
                                            "fileName": "StreetView.png",
                                            "createdDateTime": "2020-10-20T16:08:30.2804722+00:00",
                                            "size": "56893",
                                            "caption": "Picture showing the bridge from the perspective of an approaching car",
                                            "binding": null,
                                            "type": "png"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "example": {
                                    "statusCode": 401,
                                    "message": "Unauthorized. Access token is missing or invalid."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "This response indicates that user does not have required permissions to access the resouce."
                    },
                    "404": {
                        "description": "This response indicates that the specified issue does not exist or is inaccessible to the user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error Response"
                                },
                                "example": {
                                    "error": {
                                        "code": "IssueNotFound",
                                        "message": "The issue with the specified ID was not found."
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the user has sent too many requests in a given amount of time."
                    }
                }
            },
            "post": {
                "tags": [
                    "Attachments"
                ],
                "summary": "Add attachment to issue",
                "description": "---\r\n\r\nAdds a new attachment to the specified issue. This only creates the attachment metadata; the file will need to be uploaded through a subsequent PUT call to the URL returned in the Location header of this endpoint's response.\r\n\r\n### Authentication\r\n\r\nRequires *Authorization* header with valid Bearer token for scope *issues:modify*.\r\n\r\n---",
                "operationId": "add-attachment-to-issue",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The ID of the issue to add an attachment to.",
                        "required": true,
                        "schema": {
                            "type": " string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with scope 'issues:modify'",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Attachment Metadata (create)"
                            },
                            "example": {
                                "fileName": "CrackedConcrete.png",
                                "caption": "Picture of the cracked concrete",
                                "binding": "TypeOfDefect"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Indicates that the attachment metadata was created successfully. The file should then be uploaded via PUT to the URL in the Location header.",
                        "headers": {
                            "Location": {
                                "description": "The URL where the attachment file should be uploaded.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "This response indicates that there is a problem with the request. Most likely, the 'includeHeader' parameter is included but not set to true or false.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error Response"
                                },
                                "example": {
                                    "error": {
                                        "code": "RequiredPropertyMissing",
                                        "message": "The request body must include a 'fileName' property."
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "example": {
                                    "statusCode": 401,
                                    "message": "Unauthorized. Access token is missing or invalid."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "This response indicates that user does not have required permissions to access the resouce."
                    },
                    "404": {
                        "description": "This response indicates that the user attempted to add an attachment to an issue that does not exist or is inaccessible to the user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error Response"
                                },
                                "example": {
                                    "error": {
                                        "code": "IssueNotFound",
                                        "message": "The issue with the specified ID was not found."
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the user has sent too many requests in a given amount of time."
                    }
                }
            }
        },
        "/{id}/attachments/{attachmentId}": {
            "delete": {
                "tags": [
                    "Attachments"
                ],
                "summary": "Delete attachment",
                "description": "---\r\n\r\nDeletes the specified attachment (including both its metadata and file) from the specified issue.\r\n\r\n### Authentication\r\n\r\nRequires *Authorization* header with valid Bearer token for scope *issues:modify*.\r\n\r\n---",
                "operationId": "delete-attachment",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The ID of the issue to delete an attachment from.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "attachmentId",
                        "in": "path",
                        "description": "The ID of the attachment to delete.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with scope 'issues:modify'",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Indicates that the attachment was successfully deleted. There is no response body in this case."
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "example": {
                                    "statusCode": 401,
                                    "message": "Unauthorized. Access token is missing or invalid."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "This response indicates that user does not have required permissions to access the resouce."
                    },
                    "404": {
                        "description": "This response indicates that the attachment with the specified ID does not exist or is inaccessible to the user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error Response"
                                },
                                "example": {
                                    "error": {
                                        "code": "AttachmentNotFound",
                                        "message": "The attachment instance with the given ID was not found."
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the user has sent too many requests in a given amount of time."
                    }
                }
            },
            "get": {
                "tags": [
                    "Attachments"
                ],
                "summary": "Get attachment file by ID",
                "description": "---\r\n\r\nRetrieves the actual file contents for the attachment with the given ID. This API will attempt to infer the MIME type to return from the file's extension, but will return the default value of `application/octet-stream` if it does not recognize the extension.\r\n\r\n### Authentication\r\n\r\nRequires *Authorization* header with valid Bearer token for scope *issues:read*.\r\n\r\n---",
                "operationId": "get-attachment-by-id",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The issue ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "attachmentId",
                        "in": "path",
                        "description": "The attachment ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with scope 'issues:read'",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The attachment's file contents"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "example": {
                                    "statusCode": 401,
                                    "message": "Unauthorized. Access token is missing or invalid."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "This response indicates that user does not have required permissions to access the resouce."
                    },
                    "404": {
                        "description": "This response indicates that the specified attachment does not exist (code = 'AttachmentNotFound') or that the attachment metadata instance exists but does not have an associated file (code = 'FileNotFound').",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error Response"
                                },
                                "example": {
                                    "error": {
                                        "code": "AttachmentNotFound",
                                        "message": "The attachment instance with the given ID was not found."
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the user has sent too many requests in a given amount of time."
                    }
                }
            },
            "put": {
                "tags": [
                    "Attachments"
                ],
                "summary": "Upload attachment file",
                "description": "---\r\n\r\nUploads a file's contents, associating it with the attachment metadata instance with the given ID. The request body is simply the file's bytes. If a file was already uploaded for the attachment with the given ID, that file will be overwritten.\r\n\r\n### Authentication\r\n\r\nRequires *Authorization* header with valid Bearer token for scope *issues:modify*.\r\n\r\n---",
                "operationId": "upload-attachment-file",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The ID of the issue this attachment belongs to.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "attachmentId",
                        "in": "path",
                        "description": "The ID of the attachment metadata instance this file will be associated with.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with scope 'issues:modify'",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Indicates that the attachment file was successfully uploaded"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "example": {
                                    "statusCode": 401,
                                    "message": "Unauthorized. Access token is missing or invalid."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "This response indicates that user does not have required permissions to access the resouce."
                    },
                    "404": {
                        "description": "This response indicates that the specified attachment metadata instance does not exist or is inaccessible to the user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error Response"
                                },
                                "example": {
                                    "error": {
                                        "code": "AttachmentNotFound",
                                        "message": "The attachment metadata instance with the given ID was not found."
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the user has sent too many requests in a given amount of time."
                    }
                }
            }
        },
        "/": {
            "post": {
                "tags": [
                    "Issues"
                ],
                "summary": "Create issue",
                "description": "---\r\n\r\nCreates a new issue. The user must specify the ID of a form definition to associate the issue with; that will set its issue type as well as determine how clients such as the CONNECT Issues web app will display it. The form definition ID should be obtained by calling the 'Get project form definitions' endpoint.\r\n\r\nFor compatibilty with JSON schema specifications, some property types are presented as \"All of: [some object type name]\".  This simply means the value should be a single object of that type.\r\n\r\n### Authentication\r\n\r\nRequires *Authorization* header with valid Bearer token for scope *issues:modify*.\r\n\r\n---",
                "operationId": "create-issue",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with scope 'issues:modify'",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Issue (create)"
                            },
                            "example": {
                                "subject": "Unspecified material",
                                "description": "The plans do not specify what material this support beam will be made out of.",
                                "formId": "ZaZaZaYbYav2qwer_-wqer-___wqerqwetaqtewq123",
                                "boundingBox": {
                                    "lowerLeftPoint3D": {
                                        "x": 1,
                                        "y": 2,
                                        "z": 3
                                    },
                                    "upperRightPoint3D": {
                                        "x": 4,
                                        "y": 5,
                                        "z": 6
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Indicates that the issue was successfully created. The response body contains the issue's data after creation, including its id.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Issue (get)"
                                },
                                "example": {
                                    "issue": {
                                        "id": "e5Ue5Ue5U02hNz19awLcRsnTtOGubQZPhV123456789",
                                        "subject": "Unspecified material",
                                        "description": "The plans do not specify what material this support beam will be made out of.",
                                        "boundingBox": {
                                            "lowerLeftPoint3D": {
                                                "x": 0,
                                                "y": 1,
                                                "z": 2
                                            },
                                            "upperRightPoint3D": {
                                                "x": 3,
                                                "y": 4,
                                                "z": 5
                                            }
                                        },
                                        "createdBy": "Joe User",
                                        "createdDateTime": "2021-02-08T19:39:10.7421874+00:00",
                                        "lastModifiedBy": "Joe User",
                                        "lastModifiedDateTime": "2021-02-08T19:39:10.7421874+00:00",
                                        "number": "ISS-00001",
                                        "status": "Draft",
                                        "assignee": {
                                            "id": "9e399e39-0000-1111-2222-8d8a8d8a8d8a",
                                            "displayName": "Joe User"
                                        },
                                        "assignees": [],
                                        "type": "Issue",
                                        "displayName": "Unspecified material",
                                        "state": "Open",
                                        "properties": {
                                            "Priority": "Medium"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "This response indicates that there is a problem with the format of the request body. Most likely causes: The 'formId' property is missing, an unrecognized standard or custom property was added, a standard property was set in the 'properties' object instead of the top-level object, the body is invalid JSON, or a property was set to a value of the wrong type.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error Response"
                                },
                                "example": {
                                    "error": {
                                        "code": "InvalidBodySchema",
                                        "message": "One or more properties in the request body are invalid or unrecognized. See 'details' property for specifics.",
                                        "details": [
                                            {
                                                "code": "InvalidProperty",
                                                "message": "This property is not recognized. If it is a custom property, set it in the 'properties' object.",
                                                "target": "badProp"
                                            },
                                            {
                                                "code": "InvalidProperty",
                                                "message": "This property is not a custom property and should be set on the root object directly instead of inside the 'properties' object.",
                                                "target": "description"
                                            },
                                            {
                                                "code": "ReadOnlyProperty",
                                                "message": "This property is read-only and cannot be set by the client.",
                                                "target": "displayName"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "example": {
                                    "statusCode": 401,
                                    "message": "Unauthorized. Access token is missing or invalid."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "This response indicates that user does not have required permissions to access the resouce."
                    },
                    "404": {
                        "description": "This response indicates that the specified form definition does not exist (or is inaccessible due to insufficient permissions).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error Response"
                                },
                                "example": {
                                    "error": {
                                        "code": "FormDefNotFound",
                                        "message": "The form definition with the specified ID was not found."
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the user has sent too many requests in a given amount of time."
                    }
                }
            },
            "get": {
                "tags": [
                    "Issues"
                ],
                "summary": "Get project issues",
                "description": "---\r\n\r\nRetrieves a list of issues for the project with the given ID.  This only returns basic info about each issue--its ID, display name, type, and whether it is in an Open, Closed, or Draft state.  Use the \"Get Issue Details\" endpoint to see full information about a particular issue.\r\n\r\nNote that the 'projectId' query string parameter is required. It must be a valid project GUID to get issues from.\r\n\r\n### Authentication\r\n\r\nRequires *Authorization* header with valid OIDC token for scope *issues:read*.\r\n\r\n---",
                "operationId": "get-project-issues",
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "description": "The type of issue data to get. Omit to get all types.",
                        "schema": {
                            "enum": [
                                "Punchlist",
                                "Civil Design",
                                "Clash",
                                "Closeout",
                                "Communication",
                                "Defiiciency",
                                "Design",
                                "Field Data",
                                "Issue",
                                "Observation",
                                "Other",
                                "Risk",
                                "RFI",
                                "Task"
                            ],
                            "type": "string"
                        }
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "The number of issues to get in each page. Max 1000, which is also the default if this parameter is not included.",
                        "schema": {
                            "type": "int"
                        }
                    },
                    {
                        "name": "continuationToken",
                        "in": "query",
                        "description": "Parameter that enables continuing to the next page of the previous paged query. This must be passed exactly as it is in the response body's _links.next property. If this is specified and $top is omitted, the next page will be the same size as the previous page.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "projectId",
                        "in": "query",
                        "description": "Required. The GUID of the project to get issues for.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with scope 'issues:read'",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Issues List"
                                },
                                "example": {
                                    "issues": [
                                        {
                                            "id": "00000000-0000-0000-0000-0000000000000",
                                            "displayName": "Design Clash",
                                            "type": "Clash",
                                            "state": "Closed"
                                        },
                                        {
                                            "id": "00000000-0000-0000-0000-0000000000001",
                                            "displayName": "Which Material?",
                                            "type": "RFI",
                                            "state": "Open"
                                        }
                                    ],
                                    "_links": {
                                        "self": {
                                            "href": "https://api.bentley.com/issues/?projectId=30273027-1111-2222-3333-3d7d6b02dc46&$top=2"
                                        },
                                        "next": {
                                            "href": "https://api.bentley.com/issues/?projectId=30273027-1111-2222-3333-3d7d6b02dc46&continuationToken=eyJ0b3A999990"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "example": {
                                    "statusCode": 401,
                                    "message": "Unauthorized. Access token is missing or invalid."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "This response indicates that user does not have required permissions to access the resouce."
                    },
                    "404": {
                        "description": "This response indicates that the issue with the specified ID does not exist or is inaccessible to the user due to insufficient permissions. (For security reasons, the response will not differ between inaccessible and missing issues.)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error Response"
                                },
                                "example": {
                                    "error": {
                                        "code": "ProjectNotFound",
                                        "message": "The specified project does not exist, or you do not have permission to view it."
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the user has sent too many requests in a given amount of time."
                    }
                }
            }
        },
        "/{id}": {
            "delete": {
                "tags": [
                    "Issues"
                ],
                "summary": "Delete issue",
                "description": "---\r\n\r\nDeletes the issue with the specified ID.\r\n\r\n### Authentication\r\n\r\nRequires *Authorization* header with valid Bearer token for scope *issues:modify*.\r\n\r\n---",
                "operationId": "delete-issue",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The ID of the issue to delete.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with scope 'issues:modify'",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Indicates that the issue was successfully deleted. There is no response body in this case."
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "example": {
                                    "statusCode": 401,
                                    "message": "Unauthorized. Access token is missing or invalid."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "This response indicates that user does not have required permissions to access the resouce."
                    },
                    "404": {
                        "description": "This response indicates that the issue with the specified ID does not exist or is inaccessible to the user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error Response"
                                },
                                "example": {
                                    "error": {
                                        "code": "IssueNotFound",
                                        "message": "The issue with the specified ID was not found."
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the user has sent too many requests in a given amount of time."
                    }
                }
            },
            "patch": {
                "tags": [
                    "Issues"
                ],
                "summary": "Update issue",
                "description": "---\r\n\r\nModifies the provided properties of the specified issue to match the values provided in the request.\r\n\r\nSetting a property value to null in the request will set the corresponding property value to null on the issue. However, omitting a property from the request body entirely will leave that property's current value on the issue unchanged.  Also, setting an object (other than \"properties\") to null will have the same effect as setting each individual property in that object to null.\r\n\r\nFor compatibilty with JSON schema specifications, some property types are presented as \"All of: [some object type name]\".  This simply means the value should be a single object of that type.\r\n\r\n### Authentication\r\n\r\nRequires *Authorization* header with valid Bearer token for scope *issues:modify*.\r\n\r\n---",
                "operationId": "modify-issue",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The ID of the issue to modify.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with scope 'issues:modify'",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Issue (update)"
                            },
                            "example": {
                                "subject": "Unspecified material (v1.2)",
                                "description": "The plans do not specify what material this support beam is made of. Updated bounding box for v1.2 of the blueprint.",
                                "boundingBox": {
                                    "lowerLeftPoint3D": {
                                        "x": 1,
                                        "y": 2,
                                        "z": 3
                                    },
                                    "upperRightPoint3D": {
                                        "x": 4,
                                        "y": 5,
                                        "z": 6
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Indicates that the changes were successfully made. The response body contains the issue's data after modification, including both changed and unchanged properties. Note: If a workflow transition occurred, some properties may have been automatically changed in addition to the properties the client specified to change in the request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Issue (get)"
                                },
                                "example": {
                                    "issue": {
                                        "id": "e5Ue5Ue5U02hNz19awLcRrghqUtX-xBOi4123456789",
                                        "subject": "Unspecified material (v1.2)",
                                        "description": "The plans do not specify what material this support beam is made of. Updated bounding box for v1.2 of the blueprint.",
                                        "boundingBox": {
                                            "lowerLeftPoint3D": {
                                                "x": 1,
                                                "y": 2,
                                                "z": 3
                                            },
                                            "upperRightPoint3D": {
                                                "x": 4,
                                                "y": 5,
                                                "z": 6
                                            }
                                        },
                                        "createdBy": "Joe User",
                                        "createdDateTime": "2020-11-11T19:35:15.6999917+00:00",
                                        "lastModifiedBy": "Joe User",
                                        "lastModifiedDateTime": "2021-02-08T18:58:01.3616728+00:00",
                                        "status": "Draft",
                                        "assignee": {
                                            "displayName": "Joe User",
                                            "id": "9e399e39-0000-1111-2222-8d8a8d8a8d8a"
                                        },
                                        "number": "ISS-00001",
                                        "displayName": "Unspecified material (v1.2)",
                                        "type": "Issue",
                                        "state": "Open",
                                        "properties": {
                                            "Priority": "Medium"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "This response indicates that there is a problem with the format of the request body. Most likely causes: An unrecognized standard or custom property was added, a standard property was set in the 'properties' object instead of the top-level object, the body is invalid JSON, or a property was set to a value of the wrong type.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error Response"
                                },
                                "example": {
                                    "error": {
                                        "code": "InvalidBodySchema",
                                        "message": "One or more properties in the request body are invalid or unrecognized. See 'details' property for specifics.",
                                        "details": [
                                            {
                                                "code": "InvalidProperty",
                                                "message": "This property is not recognized. If it is a custom property, set it in the 'properties' object.",
                                                "target": "badProp"
                                            },
                                            {
                                                "code": "InvalidProperty",
                                                "message": "This property is not a custom property and should be set on the root object directly instead of inside the 'properties' object.",
                                                "target": "description"
                                            },
                                            {
                                                "code": "ReadOnlyProperty",
                                                "message": "This property is read-only and cannot be set by the client.",
                                                "target": "displayName"
                                            },
                                            {
                                                "code": "InvalidValueType",
                                                "message": "The property 'workflowNote' is of an incorrect type. Expected string.",
                                                "target": "workflowNote"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "example": {
                                    "statusCode": 401,
                                    "message": "Unauthorized. Access token is missing or invalid."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "This response indicates that user does not have required permissions to access the resouce."
                    },
                    "409": {
                        "description": "This response indicates that the issue the user attempted to update does not exist (or is inaccessible due to insufficient permissions).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error Response"
                                },
                                "example": {
                                    "error": {
                                        "code": "IssueNotFound",
                                        "message": "The issue with the specified ID was not found, and PATCH does not support Upsert."
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the user has sent too many requests in a given amount of time."
                    }
                }
            },
            "get": {
                "tags": [
                    "Issues"
                ],
                "summary": "Get issue details",
                "description": "---\r\n\r\nRetrieves all properties of the specified issue.\r\n\r\nKnown, common properties will be returned directly on the 'issue' object, whereas custom properties unique to the issue's type will be returned on the 'properties' sub-object.\r\n\r\nFor compatibilty with JSON schema specifications, some property types are presented as \"All of: [some object type name]\".  This simply means the value should be a single object of that type.\r\n\r\nNote that many properties in the schema are described as 'Origin info.' This means that they are metadata about where the issue came from and what business domain object(s) it is related to, such as a PDF file or a 3D model. Their meanings can differ from application to application. Many applications will use only a subset of these properties, and in general applications SHOULD NOT use or set these values unless they have a good reason to do so. Other properties, not marked 'Origin info', will commonly be set on most issues, but clients SHOULD NOT assume that all of them are set.\r\n\r\n### Authentication\r\n\r\nRequires *Authorization* header with valid Bearer token for scope *issues:read*.\r\n\r\n---",
                "operationId": "get-issue-details",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The ID of the issue to get details for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with scope 'issues:read'",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Issue Details (get)"
                                },
                                "example": {
                                    "issue": {
                                        "id": "VcVcVcC8sUuVcgeXz1Ih_TFblwnlFIZNpPGwQGwQGwQ",
                                        "boundingBox": {
                                            "lowerLeftPoint3D": {
                                                "x": 1,
                                                "y": 2,
                                                "z": 3
                                            },
                                            "upperRightPoint3D": {
                                                "x": 4,
                                                "y": 5,
                                                "z": 6
                                            }
                                        },
                                        "location": {
                                            "latitude": 30,
                                            "longitude": 60,
                                            "elevation": 1000,
                                            "description": "The center of the construction site"
                                        },
                                        "modelView": {
                                            "cameraView": {
                                                "viewPoint": {
                                                    "x": 1,
                                                    "y": 0,
                                                    "z": 0
                                                },
                                                "direction": {
                                                    "x": 2,
                                                    "y": 0,
                                                    "z": 0
                                                },
                                                "up": {
                                                    "x": 1,
                                                    "y": 0,
                                                    "z": 1
                                                },
                                                "viewToWorldScale": 1,
                                                "fieldOfView": 1
                                            }
                                        },
                                        "createdBy": "Joe User",
                                        "createdDateTime": "2020-10-20T16:08:29.1714953+00:00",
                                        "lastModifiedBy": "Sue User2",
                                        "lastModifiedDateTime": "2020-10-20T16:18:46.7787266+00:00",
                                        "status": "Open",
                                        "assignee": {
                                            "displayName": "Sue User2",
                                            "id": "f4fa6f4f-0000-1111-2222-f4fa6f4fa6f4"
                                        },
                                        "number": "PUN-00001",
                                        "displayName": "PUN-00001",
                                        "subject": "Punchlist Sample",
                                        "description": "This should be filled out with a description of the punchlist item.",
                                        "type": "Punchlist",
                                        "dueDate": "2020-10-30T00:00:00.0000000+00:00",
                                        "state": "Open",
                                        "properties": {},
                                        "formId": "VcVcVcC8sUuVcgeXz1Ih_cnRU1gUD8dKqbBHUBHUBHU"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "example": {
                                    "statusCode": 401,
                                    "message": "Unauthorized. Access token is missing or invalid."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "This response indicates that user does not have required permissions to access the resouce."
                    },
                    "404": {
                        "description": "This response indicates that the specified project does not exist, or the user doesn't have permission to view it.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error Response"
                                },
                                "example": {
                                    "error": {
                                        "code": "IssueNotFound",
                                        "message": "The issue with the specified ID was not found."
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the user has sent too many requests in a given amount of time."
                    }
                }
            }
        },
        "/{id}/download": {
            "get": {
                "summary": "Download issue as file",
                "description": "---\r\n\r\nGets the specified issue exported to the specified file format. Currently, the default--and only supported format--is PDF. The issue with the specified ID will be laid out in the PDF according to its associated form definition.\r\n\r\nThe generated PDF will have a header at the top of each page with metadata about the issue (such as its name and creation date) unless the 'includeHeader' query parameter is set to false.\r\n\r\n### Authentication\r\n\r\nRequires *Authorization* header with valid Bearer token for scope *issues:read*.\r\n\r\n---",
                "operationId": "download-issue-as-file",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The ID of the issue to download as a file.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fileType",
                        "in": "query",
                        "description": "The type of file to download the form as. Currently the default, and only supported value, is 'PDF'.",
                        "schema": {
                            "enum": [
                                "pdf"
                            ],
                            "type": "string",
                            "default": "pdf"
                        }
                    },
                    {
                        "name": "includeHeader",
                        "in": "query",
                        "description": "If downloading as PDF, sets whether to include form metadata on the top of each page. Default is true.",
                        "schema": {
                            "enum": [
                                true,
                                false
                            ],
                            "type": "boolean",
                            "default": true
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with scope 'issues:read'",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Indicates that the file was successfully generated in the requested format. The response body consists of the generated file.",
                        "content": {
                            "application/pdf": {}
                        }
                    },
                    "400": {
                        "description": "This response indicates that there is a problem with the format of the URL. Most likely problem: The 'fileType' parameter is set to an unsupported file type, or the 'includeHeader' parameter is set to a non-boolean value.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error Response"
                                },
                                "example": {
                                    "error": {
                                        "code": "InvalidParameter",
                                        "message": "If set, the 'includeHeader' parameter's value must be 'true' or 'false'."
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "example": {
                                    "statusCode": 401,
                                    "message": "Unauthorized. Access token is missing or invalid."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "This response indicates that user does not have required permissions to access the resouce."
                    },
                    "404": {
                        "description": "This response indicates that the specified issue does not exist or is inaccessible.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error Response"
                                },
                                "example": {
                                    "error": {
                                        "code": "IssueNotFound",
                                        "message": "The issue with the specified ID was not found."
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the user has sent too many requests in a given amount of time."
                    }
                }
            }
        },
        "/{id}/comments": {
            "post": {
                "tags": [
                    "Comments"
                ],
                "summary": "Add comment to issue",
                "description": "---\r\n\r\nAdds a new comment to the specified issue. Only the comment text is needed; the author and creation time will be automatically set by the server.\r\n\r\n### Authentication\r\n\r\nRequires *Authorization* header with valid Bearer token for scope *issues:modify*.\r\n\r\n---",
                "operationId": "add-comment-to-issue",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The ID of the issue to get",
                        "required": true,
                        "schema": {
                            "type": ""
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with scope 'issues:modify'",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Comment (create)"
                            },
                            "example": {
                                "text": "Here's something noteworthy about this issue."
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Indicates that the comment was created successfully"
                    },
                    "400": {
                        "description": "This response indicates that there is a problem with the format of the request body. Most likely causes: The body is not valid JSON, or the 'text' property is missing or not a string.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error Response"
                                },
                                "example": {
                                    "error": {
                                        "code": "RequiredPropertyMissing",
                                        "message": "The request body must consist of a single object with 'text' property."
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "example": {
                                    "statusCode": 401,
                                    "message": "Unauthorized. Access token is missing or invalid."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "This response indicates that user does not have required permissions to access the resouce."
                    },
                    "404": {
                        "description": "This response indicates that the issue the user attempted to add a comment to does not exist or is inaccessible to the user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error Response"
                                },
                                "example": {
                                    "error": {
                                        "code": "IssueNotFound",
                                        "message": "The issue with the specified ID was not found."
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the user has sent too many requests in a given amount of time."
                    }
                }
            },
            "get": {
                "tags": [
                    "Comments"
                ],
                "summary": "Get issue comments",
                "description": "---\r\n\r\nRetrieves the text and metadata for all comments that have been posted to the given issue. If the Prefer header was specified with the value \"return=representation\", the response will include the email address of each comment author, though this may incur additional processing time.  If there is an extraordinarily large number of comments, only 50 distinct user email addresses will be retrieved and shown. Regardless of the Prefer header value, the \"_links\" object associated with each comment will provide a link to additional information about the comment author.\r\n\r\n### Authentication\r\n\r\nRequires *Authorization* header with valid Bearer token for scope *issues:read*.\r\n\r\n---",
                "operationId": "get-issue-comments",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The ID of the issue to get comments for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "Sets the level of detail to return. For this endpoint, setting 'return=representation' will add the comment authors' email addresses to the response.",
                        "schema": {
                            "enum": [
                                "return=minimal",
                                "return=representation"
                            ],
                            "type": "string",
                            "default": "return=minimal"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with scope 'issues:read'",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json;minimal": {
                                "schema": {
                                    "$ref": "#/components/schemas/Comments List (Prefer return=minimal)"
                                },
                                "example": {
                                    "comments": [
                                        {
                                            "id": "VcVcVcC8sUuVcgeXz1Ih_aqgKUQJ4YZCg5ED6ED6ED6",
                                            "text": "Second comment",
                                            "authorDisplayName": "Joe User",
                                            "createdDateTime": "2020-10-20T16:08:30.2960969+00:00",
                                            "_links": {
                                                "author": {
                                                    "href": "https://api.bentley.com/projects/30273027-1111-2222-3333/members/9e399e39-0000-1111-2222-8d8a8d8a8d8a"
                                                }
                                            }
                                        },
                                        {
                                            "id": "VcVcVcC8sUuVcgeXz1Ih_dQVJUOk7VpMmONsENsENsE",
                                            "text": "First comment",
                                            "authorDisplayName": "Joe User",
                                            "createdDateTime": "2020-10-20T16:08:30.3117243+00:00",
                                            "_links": {
                                                "author": {
                                                    "href": "https://api.bentley.com/projects/30273027-1111-2222-3333/members/9e399e39-0000-1111-2222-8d8a8d8a8d8a"
                                                }
                                            }
                                        }
                                    ]
                                }
                            },
                            "application/json;representation": {
                                "schema": {
                                    "$ref": "#/components/schemas/Comments List (Prefer return=representation)"
                                },
                                "example": {
                                    "comments": [
                                        {
                                            "id": "VcVcVcC8sUuVcgeXz1Ih_aqgKUQJ4YZCg5ED6ED6ED6",
                                            "text": "Second comment",
                                            "authorDisplayName": "Joe User",
                                            "authorEmail": "joe.user@example.com",
                                            "createdDateTime": "2020-10-20T16:08:30.2960969+00:00",
                                            "_links": {
                                                "author": {
                                                    "href": "https://api.bentley.com/projects/30273027-1111-2222-3333/members/9e399e39-0000-1111-2222-8d8a8d8a8d8a"
                                                }
                                            }
                                        },
                                        {
                                            "id": "VcVcVcC8sUuVcgeXz1Ih_dQVJUOk7VpMmONsENsENsE",
                                            "text": "First comment",
                                            "authorDisplayName": "Joe User",
                                            "authorEmail": "joe.user@example.com",
                                            "createdDateTime": "2020-10-20T16:08:30.3117243+00:00",
                                            "_links": {
                                                "author": {
                                                    "href": "https://api.bentley.com/projects/30273027-1111-2222-3333/members/9e399e39-0000-1111-2222-8d8a8d8a8d8a"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "example": {
                                    "statusCode": 401,
                                    "message": "Unauthorized. Access token is missing or invalid."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "This response indicates that user does not have required permissions to access the resouce."
                    },
                    "404": {
                        "description": "This response indicates that the specified issue does not exist or is inaccessible to the user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error Response"
                                },
                                "example": {
                                    "error": {
                                        "code": "IssueNotFound",
                                        "message": "The issue with the specified ID was not found."
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the user has sent too many requests in a given amount of time."
                    }
                }
            }
        },
        "/workflows/{type}": {
            "get": {
                "tags": [
                    "Workflow"
                ],
                "summary": "Get workflow",
                "description": "---\r\n\r\nRetrieves the workflow for the given issue type in the given project. The project must be specified using the 'projectId' query string parameter.\r\n\r\nIt is possible for users of a project to choose not to set a workflow for a given type. In that case, requests to get the workflow of that type will return a 404 Not Found response where the 'code' property of the body's 'error' object is set to \"WorkflowNotFound\". This does not indicate client error. Other HTTP status codes, or other values of the 'code' property, do indicate an unexpected error of some sort.\r\n\r\n### Authentication\r\n\r\nRequires *Authorization* header with valid Bearer token for scope *issues:read*.\r\n\r\n---",
                "operationId": "get-workflow",
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "description": "The issue type to get workflow for.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "projectId",
                        "in": "query",
                        "description": "The ID of the project or context to get a workflow for.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with scope 'issues:read'",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Workflow Response (get)"
                                },
                                "example": {
                                    "workflow": {
                                        "id": "e5Ue5Ue5U02hNz19awLcRh3pqLoNXpZDuR123456789",
                                        "startStates": [
                                            "Open",
                                            "Closed"
                                        ],
                                        "type": "Punchlist",
                                        "states": [
                                            {
                                                "name": "Open",
                                                "color": "#ff0000",
                                                "editableProperties": [],
                                                "stateCategory": "Open"
                                            },
                                            {
                                                "name": "Closed",
                                                "color": "#274e13",
                                                "editableProperties": [],
                                                "stateCategory": "Closed"
                                            }
                                        ],
                                        "transitions": [
                                            {
                                                "displayName": "Close",
                                                "start": "Open",
                                                "end": "Closed",
                                                "notes": "None"
                                            },
                                            {
                                                "displayName": "Reopen",
                                                "start": "Closed",
                                                "end": "Open",
                                                "notes": "None"
                                            }
                                        ],
                                        "startingTransitions": [
                                            {
                                                "displayName": "Create as Open",
                                                "start": null,
                                                "end": "Open",
                                                "notes": "None"
                                            },
                                            {
                                                "displayName": "Create as Closed",
                                                "start": null,
                                                "end": "Closed",
                                                "notes": "None"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "A URL parameter was malformed. Either the 'type' parameter is not a valid issue type, or the required 'projectId' query parameter is missing or not a valid GUID.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error Response"
                                },
                                "example": {
                                    "error": {
                                        "code": "InvalidParameter",
                                        "message": "The 'projectId' URL parameter is missing or is not a valid GUID."
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "example": {
                                    "statusCode": 401,
                                    "message": "Unauthorized. Access token is missing or invalid."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "This response indicates that user does not have required permissions to access the resouce."
                    },
                    "404": {
                        "description": "This response indicates that the project does not exist (code = 'RepositoryNotFound') or that there is no workflow set for this issue type (code = 'WorkflowNotFound'). This latter case does not indicate client error, as it is valid for a user to choose not to set a workflow for a given issue type.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error Response"
                                },
                                "example": {
                                    "error": {
                                        "code": "WorkflowNotFound",
                                        "message": "No workflow with the given type exists for this project."
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the user has sent too many requests in a given amount of time."
                    }
                }
            }
        },
        "/{id}/comments/{commentId}": {
            "delete": {
                "tags": [
                    "Comments"
                ],
                "summary": "Delete comment",
                "description": "---\r\n\r\nDeletes the specified comment from the specified issue.\r\n\r\n### Authentication\r\n\r\nRequires *Authorization* header with valid Bearer token for scope *issues:modify*.\r\n\r\n---",
                "operationId": "delete-comment",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The ID of the issue the comment is associated with.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "commentId",
                        "in": "path",
                        "description": "The ID of the comment to delete.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with scope 'issues:modify'",
                        "required": true,
[...]
